

body{
    margin: 0 !important;
    overflow-x: hidden;
}

html {
  height: 100%;
  box-sizing: border-box;
  
}

.conteudo{
    width: 100%;
    margin-left:20px;
    display: flex;
    justify-content: space-around;
    
}

.conteudo-esquerda{
    width: 60%;
    float:left;
    height: auto;
}

h1{
    color: #656565;
    font-size:25px;
}

.p-index{
    font-size: 20px;
    text-align: justify;
    color: #4f4f4f;
}



* {
    box-sizing: border-box;
}

/*body {
  background-color: #fafafa;
}*/

.conteudo-direita {

    float:right;
    width: 30%;
    height: auto;

}

.light {
    background-color: #fff;
}


.calendar {
    width: 320px;
    box-shadow: 0px 0px 35px -16px rgba(0, 0, 0, 0.25);
    padding: 20px 30px;
    color: #363b41;
}

.calendar_header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.08);
}

.header_copy {
    color: #A39D9E;
    font-size: 20px;
}

.calendar_plan {
    margin: 20px 0 40px;
}

.cl_plan {
    width: 100%;
    height: 140px;
    background-image: linear-gradient(-222deg, #69479d, #835fba);
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.25);
    padding: 30px;
    color: #fff;
}

.cl_copy {
    font-size: 20px;
    margin: 20px 0;
    display: inline-block;
}

.cl_add {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: 0 0 0 25px;
    color: #c2c2c2;
    padding: 11px 13px;
}

.calendar_events {
    color: #A39D9E;
}

.ce_title {
    font-size: 14px;
}

.event_item {
    margin: 18px 0;
    padding: 5px;
    cursor: pointer;
}
.event_item:hover {
    background-image:linear-gradient(-222deg, #69479d, #835fba);
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}
.event_item:hover .ei_Dot {
    background-color: #fff;
}
.event_item:hover .ei_Copy, .event_item:hover .ei_Title {
    color: #fff;
}

.ei_Dot, .ei_Title {
    display: inline-block;
}

.ei_Dot {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background-color: #A39D9E;
    box-shadow: 0px 0px 52px -18px rgba(0, 0, 0, 0.75);
}

.dot_active {
    background-color: #69479d;
}

.ei_Title {
    margin-left: 10px;
    color: #363b41;
}

.ei_Copy {
    font-size: 12px;
    margin-left: 27px;
}

.extra-linha-1{
    height: 140px;
    width: 70%;
    justify-content: space-between;
    display:flex;
    margin-left:130px;
    margin-top: 50px;
}
.circulo{
    background-color: #807e7e;
    border-radius: 110px;
    width: 140px;
    height: 140px;
    padding-top: 25px;
}
.circulo-2{
    background-color: #807e7e;
    border-radius: 110px;
    width: 140px;
    height: 140px;
    padding-top: 30px;
}

.fa-calendar::before {
    text-align: center;
    font-size:80px;
    color:white;
    margin-left: 33px;
    margin-bottom:0px;

}
.fa-graduation-cap::before {
    text-align: center;
    font-size:80px;
    color:white;
    margin-left: 20px;

}
.fa-map-pin::before {
    text-align: center;
    font-size:80px;
    color:white;
    margin-left: 46px;

}


.extra-linha-2{
    height: auto;
    width: 70%;
    justify-content: space-between;
    display:flex;
    margin-left:130px;
}

.p-1{
    color:#69479d;
    text-align: center;
    margin-top:10px;
}
.p-2{
    text-align: center;
    text-shadow: 0.1em 0.1em 0.2em #c2c2c2;
}