.footer{
    background-color: #69479d;
    height:400px;
    width: 100%;
    position:absolute;
    left:0;
}


.conteudo-esquerda-footer{
    display: flex;
    width: 25%;
    float:left;
    padding-top:60px;
    justify-content: center;
}

.conteudo-direita-footer {
    display:flex;
    padding-top:60px;
    float:right;
    width: 70%;
    height: auto;
}

.logo-footer{
    width: 100px;
    height: 60px;
}

.info-footer{
    color:white;
    font-size:18px;
}
.botao-salas {
    bottom: 10px;
    font-size: 15px;
    border: none;
    outline: none;
    background-color: #866ffc;
    color: white;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    text-align: right;
    font-size:16px;
}
.botao-salas:hover {
    background-color: #452e5b;
}

.p-especial{
    margin-top:50px;
}
